body {
background-color: rgb(66, 29, 29);
color: rgb(205, 132, 147);
}



#footerClocks {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  text-align: center; 
  font-family: Teko, serif;
  font-weight: 500;
  font-size: 2rem;
}

#easternTime {
  border: solid .25rem red;
  margin-right: .25rem;
  border-radius: .5rem;
  width: 20rem;
}

#centralTime {
  border: solid .25rem red;
  margin-right: .25rem;
  border-radius: .5rem;
  width: 20rem;
}

#pacificTime {
  border: solid .25rem red;
  border-radius: .5rem;
  width: 20rem;
}
