body {
background-color: rgb(5, 117, 51);
}


#footerClocks {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  text-align: center; 
  font-family: Teko, serif;
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-family: Poetsen One, serif;
}

#easternTime {
  border: solid .25rem rgb(0, 166, 255);
  margin-right: .35rem;
  border-radius: .5rem;
  width: 20rem;
  color: blue;
  background-color: yellow;
}

#centralTime {
  border: solid .25rem rgb(0, 166, 255);
  margin-right: .35rem;
  border-radius: .5rem;
  width: 20rem;
  color: yellow;
  background-color: blue;
}

#pacificTime {
  border: solid .25rem rgb(0, 166, 255);
  border-radius: .5rem;
  width: 20rem;
  color: blue;
  background-color: yellow;
}
