body {
background-color: black;
color: azure;
}



#footerClocks {
  display: flex; 
  flex-direction: column;
  text-align: center; 
  font-family: Teko, serif;
  font-weight: 500;
  font-size: 2rem;
}